header{
}
/*#################################### ESTILO LOGO ####################################*/
.logo{
  margin-top: 20px;
  margin-bottom: 20px;
}
/*################################ ESTILO BOTON ATRAS #################################*/
/*----- Estilo Botón -----*/
.atras{
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 30px;
  top: 30px;
}
.atr{
  color: #D0FF41;
}
/*----- Mouse sobre Botón -----*/
.atras .atr:hover {
  color: #05264D;
}
/*----- Click sobre Botón -----*/
.atras .atr:active {
  color: #ff9900;
}
/*############################ ESTILO BOTON ATRÁS VISTAS ##############################*/
/*----- Estilo Botón -----*/
.atras2{
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 30px;
  top: 30px;
}
.atr2{
  color: #2054C0;
}
/*----- Mouse sobre Botón -----*/
.atras2 .atr2:hover {
  color: #05264D;
}
/*----- Click sobre Botón -----*/
.atras2 .atr2:active {
  color: #ff9900;
}
/*################################ ESTILO FOTO PERFIL #################################*/
/*----- Estilo Foto -----*/
.foto{
  margin: 0px;
<<<<<<< HEAD
  padding: 0px;  
  left: 30px;
=======
  padding: 0px;
  left: -150px;
>>>>>>> upstream/master
  color: #0E7AD0;
}
/*----- Mouse sobre Foto -----*/
.foto .ft:hover {
  cursor: pointer;
}
/*----- Click sobre Foto -----*/
.foto .ft:active {
  cursor: pointer;
}
/*################################ ESTILO TIPO DE USUARIO #################################*/
/*----- Estilo Nombre -----*/
.usuario{
  margin: 0px;
  padding: 5px;  
  padding-left: 15px;
  padding-right: 15px;
  width: 400px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  position: relative;
  left:-280px;
  top: 205px;
}
/*################################ ESTILO NOMBRE EGRESADO #################################*/
/*----- Estilo Nombre -----*/
.nombre{
  margin: 0px;
<<<<<<< HEAD
  padding: 5px;  
  padding-left: 15px;
  padding-right: 15px;
  width: 400px;
=======
  padding: 0px;
>>>>>>> upstream/master
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  position: relative;
  left:-280px;
  top: 210px;
  border: 3px solid #000000;
  border-radius: 20px;
  background-color: #90E1FC;
}
/*################################### ESTILO TÍTULO ###################################*/
.title{
  margin-top: 35px;
}
/*################################# ESTILO WALLPAPER ##################################*/
.wallpaper{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}
/*############################## ESTILO MENÚ HORIZONTAL ###############################*/
/*----- Posición Menú Root -----*/
.poshorizontal{
  position: absolute;
  left: 500px;
  top: 130px;
  z-index: 100;
}
/*----- Posición Menú Egresado -----*/
.poshorizontal2{
  position: absolute;
  left: 452px;
  top: 130px;
  z-index: 100;
}
.glyphicon{
  transform: scale(1.2);
  top: 4px;
}
/*----- Márgenes y Espaciado -----*/
#menu, #menu ul {
  list-style:none;
  padding:0;
  margin:0;
  cursor: pointer;
}
/*----- Estilo de cada botón -----*/
#menu li {
  float:left;
  position:relative;
  width: 10em;
  text-align: center;
  left: 0px;
  top: 0px;
}
/*----- Interior de cada Botón -----*/
#menu a {
  display:block;
  border-right:1px solid #fff;
  border-left:1px solid #fff;
  background-color: #0E51A2;
  color:#FFFFFF;
  text-decoration:none;
  padding:10px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0 0 3px #000000, 0 0 3px #000000;
}
/*----- Mouse sobre el Menú -----*/
#menu a:hover {
  background-color: #05264D;
  border-left: 5px solid #ff9900;
  border-right: 5px solid #ff9900;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*----- Al dar click sobre el Menú -----*/
#menu a:active {
  background-color: #05264D;
  border-left: 5px solid #76ff03;
  border-right: 5px solid #76ff03;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
/*############################## ESTILO SUBMENÚ HORIZONTAL ###############################*/
/*----- Posición y Visibilidad Submenú -----*/
#menu li ul {
  position:absolute;
  display:none;
}
/*----- Borde Submenú -----*/
#menu ul {
  border-top:1px solid #fff;
}
/*----- Estilo Submenú -----*/
#menu ul a {
  border-bottom:1px solid #fff;
  background-color: #0E51A2;
<<<<<<< HEAD
=======
  left: 80px;
  border: 3px solid #000000;
  padding: 0px;
  top: -60px;
}

.bordesubmenu {
  border-bottom: 1px solid #FFFFFF;
>>>>>>> upstream/master
}
/*----- Mouse sobre el Submenú -----*/
#menu li:hover ul {
  display:block;
}
/*############################### ESTILO MENÚ VERTICAL ################################*/
/* ul = lista no ordenada (viñetas), aplica estilos a cada uno de los "li" */
/* li = elementos contenidos en las "ul", aplica estilos de manera independiente */

/*----- Iconos -----*/
.iconosmenu{
  color:white;
  position:relative;
  vertical-align:middle;
  transform:scale(1.2);
}
/*----- Menú -----*/
.nav-side-menu {
  overflow: auto;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 200;
  background-color: #484849;
  position: relative;
  top: 100px;
  left: 70px;
  width: 300px;
  height: auto;
  color: #FFFFFF;
}
/*----- Título Menú -----*/
.nav-side-menu .brand {
  background-color: #007E33;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 20px;
  border-top: 3px solid #000000;
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
  border-bottom: 1px solid #000000;
}
/*----- Botón Menú (Dispositivos Móviles) -----*/
.nav-side-menu .toggle-btn {
  display: none;
}
/*----- Recuadros de los Botones -----*/
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  border-top: 1px solid #000000;
}
/*----- Flecha (v) -----*/
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078"; /* Código de icono Font Awesome */
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

/*----- Flecha (>) Submenú -----*/
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
/*----- Texto Submenú -----*/
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
/*----- Recuadros Submenú -----*/
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
/*----- Mouse sobre las Opciones del Submenú -----*/
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #FF51C0;
}
/*----- Flecha (>) Submenú -----*/
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105"; /* Código de icono Font Awesome */
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
/*----- Bordes Menú -----*/
.nav-side-menu ul {
  padding-left: 0px;
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
  border-bottom: 3px solid #000000;
}
/*----- Texto Menú -----*/
.nav-side-menu li a {
  text-decoration: none;
  color: #FFFFFF;
}
/*----- Márgenes Menú -----*/
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 30px;
}
/*----- Transiciones Mouse sobre Menú -----*/
.nav-side-menu li:hover {
  border-left: 5px solid #ff9900;
  padding-left: 15px;
  background-color: #01579b;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*----- Opción Activa -----*/
.nav-side-menu li:active {
  padding-left: 15px;
  border-left: 5px solid #76ff03;
  background-color: #05264D;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.nav-side-menu .activa2 {
  padding-left: 15px;
  border-left: 5px solid #76ff03;
  background-color: #05264D;
}
/*----- Propiedades Responsive para todos los elementos -----*/
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}




.pie {
  position: absolute;
  top: 800px;
  bottom: 0;
  width: 100%;
  border-top: 4px solid #000000;
}

.logo2{
  position: absolute;
  left: 1000px;
  top: 850px;
}

.textfooter{
  position: absolute;
  left: 30px;
  top: 850px;
}

.recuadro{
  position: relative;
  height: 450px;
  width: 800px;
  background-color: transparent;
  border: 0px solid #000000;
  left: 450px;
  top: -250px;
}

/*############################### ESTILO LOGIN ################################*/
.panel-heading{
  border-radius: 50px;
  position: relative;
  width: 50%;
  left: 180px;
  padding: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.panel{
  position: relative;
  top: 100px;
  background-color: #077FB7;
  border-radius: 40px;
  border: 5px solid #000000;
}
.boton1{
  background-color: #92CD1F;
  color: #000000;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #000000;
  position: relative;
  left: 70px;
}
.boton1:hover{
  background-color: #64910D;
  color: #000000;
  border: 2px solid #000000;
}

.boton2{
  background-color: #D50202;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 15px;
  border: 2px solid #000000;
  position: relative;
  left: 90px;
}

.boton2:hover{
  background-color: #8C0808;
  color: #FFFFFF;
  border: 2px solid #000000;
}

.btn-link{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  position: relative;
  left: 25px;
}

.btn-link:hover{
  color: #FFA800;
  text-decoration: none;
  text-shadow: 0 0 2px #000000, 0 0 2px #000000;
}

.control-label{
  font-family: Montserrat;
  font-size: 18px;
  color: #000000;
}

.suscrip{
  font-family: Montserrat;
  font-size: 25px;
  color: #FFFFFF;
  position: relative;
  left: 110px;
}
.suscrip:hover{
  color: #C4F112;
  text-decoration: none;
  text-shadow: 0 0 3px #000000, 0 0 3px #000000;
}

.form-control{
  border: 2px solid #000000;
  font-family: Montserrat;
  color: #000000;
}

.imglogin{
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

/*############################### ESTILO REGISTER ################################*/
.panel2{
  position: relative;
  top: 20px;
  background-color: #077FB7;
  border-radius: 40px;
  border: 5px solid #000000;
}

.btn-register{
  background-color: #92CD1F;
  color: #000000;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #000000;
  position: relative;
  left: 120px;
  top: 10px;
}

.btn-register:hover{
  background-color: #64910D;
  color: #000000;
  border: 2px solid #000000;
}

.btn-restpassword{
  background-color: #92CD1F;
  color: #000000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #000000;
}

.btn-restpassword:hover{
  background-color: #64910D;
  color: #000000;
  border: 2px solid #000000;
}

/*################### ESTILO TABLA GESTION DE ADMINISTRADORES ####################*/
.panelexterno{
  background-color: #05264D;
  border: 4px solid #000000;
}
.gestionadmin{
  overflow: auto;
  margin: 0px;
  padding: 0px;
  height:530px;
  width:850px;
  position: relative;
  top: 0px;
  font-family: Montserrat;
  color: #000000;
}

.tabladmin{
  background-color: #FF9C00;
  border: 3px solid #000000;
}

#columtable{
  background-color: #BDBDBD;
}

.scroll{
  overflow: scroll;
  overflow-y: auto; 
}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px;
  border-radius: 50px;
}

.coloredit{
  background-color: #1874A3;
  color: #FFFFFF;
  border: 2px solid #000000;
  margin-bottom: 0px;
}
.coloredit:hover{
  background-color: #044668;
  color: #FFFFFF;
  border: 2px solid #000000;
}

.colordelete{
  background-color: #D50202;
  color: #FFFFFF;
  border: 2px solid #000000;
}
.colordelete:hover{
  background-color: #8C0808;
  color: #FFFFFF;
  border: 2px solid #000000;
}

.colorbannear{
  background-color: #6400B1;
  color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 20px;
  padding: 4px;
}
.colorbannear:hover{
  background-color: #260142;
  color: #FFFFFF;
  border: 2px solid #000000;
}
.dataTables_filter input{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  border: 3px solid #000000;
  border-radius: 20px;
  color: #000000;
}
.dataTables_filter label{
  color: #FFFFFF;
  font-family: Montserrat;
}

.dataTables_length select{
  padding: 5px;
  border: 2px solid #000000; 
  color: #000000;
}
.dataTables_length label{
  color: #FFFFFF;
  font-family: Montserrat;
}

.dataTables_info{
  background-color: #FF9C00;
  margin-top: 15px;
  margin-left: 3px;
  font-weight: bold;
  padding: 10px;
  border: 3px solid #FFFFFF;
}

.dataTables_paginate{
  background-color: #FF9C00;
  margin-top: 15px;
  margin-right: 3px;
  font-weight: bold;
  padding-bottom: 3px;
  border: 3px solid #FFFFFF;
}

.scrollbar1::-webkit-scrollbar {
    background-color: lightskyblue;
    border-left: 3px black solid; 
    width: 20px;}

.scrollbar1::-webkit-scrollbar-thumb {
    background: #FF9C00;
    border-left: 3px black solid;
    border-top: 3px black solid; 
    border-bottom: 3px black solid;     
    height: auto;}

.scrollbar1::-webkit-scrollbar-button {
  border-left: 3px black solid;
  color: black;
}

.scrollbar1::-webkit-scrollbar-button:vertical:decrement{
  background-image: url(https://image.ibb.co/cPEHCw/Up.png);
  background-repeat: no-repeat;
  margin-top: 1px;
}

.scrollbar1::-webkit-scrollbar-button:vertical:increment{
  background-image: url(https://image.ibb.co/jSwseb/Down.png);
  background-repeat: no-repeat;
  margin-top: 1px;
}

/*################### ESTILO TABLA BUSCAR AMIGOS ####################*/

.buscaramigos{
  overflow: auto;
  margin: 0px;
  padding: 0px;
  height:530px;
  width:850px;
  position: relative;
  top: -100px;
  font-family: Montserrat;
  color: #000000;
}

.colormensaje{
  background-color: #189633;
  color: #FFFFFF;
  border: 2px solid #000000;
  margin-bottom: 5px;
}
.colormensaje:hover{
  background-color: #0D7223;
  color: #FFFFFF;
  border: 2px solid #000000;
}

.coloragregaramigo{
  background-color: #1874A3;
  color: #FFFFFF;
  border: 2px solid #000000;
}
.coloragregaramigo:hover{
  background-color: #044668;
  color: #FFFFFF;
  border: 2px solid #000000;
}
/*################### ESTILO TABLA PUBLICACIONES ####################*/
.colormensaje{
  background-color: #189633;
  color: #FFFFFF;
  border: 2px solid #000000;
  margin-bottom: 5px;
}
.colormensaje:hover{
  background-color: #0D7223;
  color: #FFFFFF;
  border: 2px solid #000000;
}

.coloragregaramigo{
  background-color: #1874A3;
  color: #FFFFFF;
  border: 2px solid #000000;
}
.coloragregaramigo:hover{
  background-color: #044668;
  color: #FFFFFF;
  border: 2px solid #000000;
}
/*################### ESTILO TABLA PUBLICACIONES ####################*/
.colorrestaurar{
  background-color: #189633;
  color: #FFFFFF;
  border: 2px solid #000000;
  margin-top: 0px;
}
.colorrestaurar:hover{
  background-color: #0D7223;
  color: #FFFFFF;
  border: 2px solid #000000;
}
/*################### ESTILO SPAN (NUMERO) ####################*/
.badge{
  width: 28px;
  height: 28px;
  padding: 4px;
  border-radius: 50px;
  margin-left: 10px;
  margin-bottom: 3px;
  border: 2px solid #000000;
  background: #90E1FC;
  color: #000000;
  font-family: Montserrat;
  font-size: 16px;
}
/*################### ESTILO MENSAJES LARAVEL ####################*/
.mensajemergente{
  position: absolute; 
  z-index: 100;
  width: 30%;
}

.modal-content{
  border: 3px solid #000000;
  background: #0096FF;
  color: #000000;
  font-family: Montserrat;
}

.modal-title{
  text-align: center;
  font-family: Montserrat;
  color: #FFFFFF;
  text-shadow: 0 0 3px #000000, 0 0 3px #000000;
}

.botonmodals1{
  background-color: #92CD1F;
  color: #000000;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #000000;
  margin-top: 10px;
  position: relative;
  left: -40px;
}

.botonmodals1:hover{
  background-color: #64910D;
  color: #000000;
  border: 2px solid #000000;
}

.botonmodals2{
  background-color: #D50202;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 15px;
  border: 2px solid #000000;
}

.botonmodals2:hover{
  background-color: #8C0808;
  color: #FFFFFF;
  border: 2px solid #000000;
}
/*################### ESTILO TABLA GESTION CUENTAS DE EGRESADOS ####################*/
.cuentasegresados{
  overflow: auto;
  margin: 0px;
  padding: 0px;
  height:530px;
  width:1030px;
  position: relative;
  top: -170px;
  font-family: Montserrat;
  color: #000000;
}

/*################### ESTILO GENERAL EGRESADOS ####################*/
.gestionegresados{
  overflow: auto;
  margin: 0px;
  padding: 0px;
  height:530px;
  width:850px;
  position: relative;
  top: -170px;
  font-family: Montserrat;
  color: #000000;
}
